* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFFFFF;
}
body {
  /* overflow: hidden; */

  /* background: #1B0522; */

  background-image: linear-gradient(to top, #3c1d46, #33183d, #2a1334, #220e2b, #1b0522);
  margin: 0;
}
/* .ellipse__wrapper {
  position: relative;
  width: 1345px;
  height: 1345px;
  left: 816px;
  top: 200px;
  overflow: hidden;
} */
/* .ellipse {
  position: absolute;
  width: 1345px;
  height: 1345px;
  left: -390px;
  top: 733px;
  background: #381A42;
  filter: blur(150px);
} */
main {
  display: flex;
  min-height: calc(100vh - 59px);
  padding-top: 10%;
  background: transparent;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.button {
  width: 70%;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 50px;
  filter: hue-rotate(0deg);
  transition: all .8s;
}
.b-red, .b-red:before {
  background: rgba(234,110,72,1);
  background: -moz-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(234,110,72,1)), color-stop(100%, rgba(188,26,99,1)));
  background: -webkit-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
  background: -o-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
  background: linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea6e48', endColorstr='#bc1a63', GradientType=1 );
}
.rot-135:hover {
  filter: hue-rotate(100deg);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #FFFFFF;
  transition: all .3s ease;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
